<div class="conatiner">       
    <div class="card">
         <div class="card-header">
            <div class="row column">
                <div class="col-6 width">
                    <a class="btn btn-dark export"><i class="fas fa-plus"></i>CSV</a> 
                    <a class="btn btn-dark export"><i class="fas fa-plus"></i>EXCEL</a> 
                    <a class="btn btn-dark export"><i class="fas fa-plus"></i>PDF</a> 
                 
                </div>
                <div class="col-6 width">
                    <form class="d-flex my-2 my-lg-0 searching">
                        <input class="form-control me-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="scroller">
            <table mdbTable mdbTableScroll scrollx="true" maxWidth="400" class="table table-sm table-striped table-hover">
                <thead>
                  <tr>
                    <!-- <th *ngFor="let head of headElements" scope="col">{{head}} </th> -->
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
                    <th>Email</th>
    
                  </tr>
                </thead>
                <tbody>
                    <tr >
                    <!-- <tr mdbTableCol *ngFor="let el of elements">
                    <th scope="row">{{el.id}}</th>
                    <td>{{el.heading1}}</td>
                    <td>{{el.heading2}}</td>
                    <td>{{el.heading3}}</td>
                    <td>{{el.heading4}}</td>
                    <td>{{el.heading5}}</td>
                    <td>{{el.heading6}}</td>
                    <td>{{el.heading7}}</td>
                    <td>{{el.heading8}}</td>
                    <td>{{el.heading9}}</td> -->
                    
                     <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    <td>Email</td>
                    
                  </tr>
                </tbody>
              </table>
        </div>
        
        <!--
         <div class="card-body">
            <table mdbTable mdbTableScroll scrollX="true" class="table table-sm table-striped table-hover" >
                <thead>  
                    <tr>
                        <th>Student number</th>
                        <th>Email</th>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>NSFAS status</th>
                        <th><div class="row">
                                <div class="col-4">
                                    <a  class="btn btn-primary"><i class="fas fa-plus"></i>Add New</a>
                                </div>
                                <div class="col-4">
                                    <a  class="btn btn-danger"><i class="fas fa-plus"></i>Drop table</a>
                                </div>
                            </div>
                                 
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="th-sm">Student number</td>
                        <td class="th-sm">Email</td>
                        <td class="th-sm">First name</td>
                        <td class="th-sm">Last name</td>
                        <td class="th-sm">NSFAS status</td>
                        <td>
                            <a class="btn btn-outline-primary"><i class="fa fa-edit fa-lg"></i>view</a>
                            <a class="btn btn-outline-seconday"><i class="fa fa-edit fa-lg"></i>edit
                            </a>
                            <a class="btn btn-outline-danger"><i class="fa fa-edit fa-lg"></i>delete
                            </a>
                        </td>
                    </tr>                
                </tbody>    
            </table>
        </div> -->
    </div>
</div>

